.category-container{
  background-color: rgba(240, 248, 255, 0.93);
  padding: 1.5rem;
}
.subcategory-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  margin-top: -20px;
}

.filter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter-input__category {
  width: 270px;
  cursor: pointer;
}
.form-select:focus, .form-select:active{
  outline: none;
  box-shadow: none;
}

select:focus {
  outline: none;
  border-color: #55c2da;
  box-shadow: 0 0 0 2px #55c2da;
}

.subcategory-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.subcategory-list li {
  background-color: #f0f0f0;
  background-color: #1f1f2089;
  color: #ffff;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.subcategory-list li.active,
.subcategory-list li:hover {
  background-color: #55c2da !important;
  color: #f1f1f1;
  transform: scale(1.01);
}

.display-category__name {
  color: #333;
}

.sortyBy_price{
  width: 300px;
  font-size: 19px;
}

@media (max-width:600px) {
  .filter-container {
      margin-top: 10px;
      justify-content: flex-start;
    }
    .sortyBy_price{
      display: flex;
      flex-direction: column;
    }
    .sortBy-price__container{}
}