.subcategory-container{
  
}
.display-category__name {
  font-size: 19px;
  color: #b1aeae;
}
ul.subcategory-list{
  background-color: #ffff;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 10px;
  list-style-type: none;
}
li.subcategory{
  background-color: #f1f1f1;
  margin-left: 10px;
  padding: 5px 7px;
  border-radius: 4px;
  cursor: pointer;
} 
.subcategory.active {
  background-color: #1e1d1dbc;
  color: #f1f1f1;
}

