:root{
  --blue-color: #5783db;
  --green-color: #55c2da;
}
.form {
  max-width: 476px;
  margin: auto;
}
.btn-logout{
  background-color: var(--blue-color);
}
.btn-logout:hover{
  background-color: var(--blue-color);
}

.main-button{
  background-color: var(--green-color);
  border: #fff;
}
.main-button:hover {
  background-color: #4ec1db;
  border: #fff;
}
.main-button:hover {
  background-color: #098ba9;
  border: #fff;
}

/*All form animation*/
.form-animation__header {
  transition: all 0.3s ease-out;
  opacity: 0;
  transform: scale(0.5);
  z-index: 9999;
}

.form-animation__header.animate {
  opacity: 1;
  transform: scale(1);
}
